<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:mvc="http://www.springframework.org/schema/mvc"
   xsi:schemaLocation="http://www.springframework.org/schema/beans     
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd
   http://www.springframework.org/schema/mvc
   http://www.springframework.org/schema/mvc/spring-mvc.xsd
   ">
   
   <!-- bean id="HandlerMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" /-->
   <!--bean name="/welcome.html" class="com.ashish.hellocontroller.HelloController" /--> 
    
   <mvc:annotation-driven/>
   <context:component-scan base-package="com.ashish.studentadmissioncontroller"/>
   
   <mvc:resources mapping="/resources/**" location="/WEB-INF/"/>
  
   
  <mvc:interceptors>
        
     <mvc:interceptor>
     	<mvc:mapping path="/admissionForm.html"/>
   		<bean class="com.ashish.Interceptors.DayOfWeekBasedAccessInterceptor"/>   		
   	</mvc:interceptor>
   	
   	<bean class="org.springframework.web.servlet.theme.ThemeChangeInterceptor">
   	   	<property name="paramName" value="siteTheme"></property>
   	</bean>
   	   	
  </mvc:interceptors>
   
   
   <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
		  <property name="prefix" value="/WEB-INF/"/>
		  <property name="suffix" value=".jsp"/>
	</bean>
	
	<bean id="messageSource" 
		  class="org.springframework.context.support.ReloadableResourceBundleMessageSource" >
		  <property name="basename" value="WEB-INF/studentmessages"/>
		  <!-- <property name="cacheSeconds" value="1"/> use during development only-->
	</bean>
    <bean id="themeSource" class="org.springframework.ui.context.support.ResourceBundleThemeSource" >
		  <property name="basenamePrefix" value="theme-"/> 
	</bean>
	<bean id="themeResolver" class="org.springframework.web.servlet.theme.CookieThemeResolver" >
		  <property name="defaultThemeName" value="green"/> 
	</bean>
	
</beans>